h1 {
    color: black;
    text-align: center;
}

#menu li {
    border: 1px solid green;
    font-size: 160%;
    font-weight: 100;
    list-style-type: none;
    display: inline;
}

.link:hover {
    border-radius: 15px;
    background-color: white;
}

.link {
    border: none;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

#bar {
    text-align: center;
    background-color: rgb(255, 255, 0);
}