h1 {
    color: black;
    text-align: center;
}

#menu li {
    border: 1px solid green;
    font-size: 160%;
    font-weight: 100;
    list-style-type: none;
    display: inline;
}

#bar {
    text-align: center;
    background-color: rgb(255, 255, 0);
}